<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <div th:include="qualityEvaluation/common-quality :: commonheader"></div>
        <title>评价指标计算</title>
        <style>
            .lighter {
                font-weight: lighter;
                font-size: 10px;
            }

            .bold {
                font-weight: bold;
                font-size: 10px;
            }

            .bolder {
                font-weight: bolder;
                font-size: 10px;
            }
        </style>
    </head>

    <span hidden="hidden" th:text="${uid}"></span>
    <input id="maxL1" type="hidden" th:value="${maxL1}">
    <input id="maxL2" type="hidden" th:value="${maxL2}">
    <input id="maxL3" type="hidden" th:value="${maxL3}">


    <body class="col-sm-12">

        <div id="div1"
             style="border: solid 1px gray; padding: 10px; background-color: #b0e0e6; z-index: 9999; min-width: border-box;
             right: 10px; left: 10px">
            <section class="section-content" aria-label="Footnotes">
                <ul>
                    <li><span class="bolder">注：</span></li>
                    <li><span class="bold">①：</span><span class="lighter">
                    模式一：当测量值在[0, 1]，测量值越趋近于1度量结果越好，对测量值不作处理；
                </span><span class="bolder">评估值 = 测量值</span></li>
                    <li><span class="bold">②：</span><span class="lighter">
                    模式二：当测量值在[0, 1]，测量值越趋近于0度量结果越好，对测量值进行取反加处理；
                </span><span class="bolder">评估值 = 1 - 测量值</span></li>
                    <li><span class="bold">③：</span><span class="lighter">
                    模式三：当测量值在[1, +∞]，测量值越趋近于1度量结果越好，对测量值进行取倒数处理；
                </span><span class="bolder">评估值 = 1 / 测量值</span></li>
                    <li><span class="bold">④：</span><span class="lighter">
                    模式四：当测量值在[1, +∞]，测量值越趋近于+∞度量结果越好，对测量值进行取倒数取反加一处理；
                </span><span class="bolder">评估值 = 1 - 1 / 测量值</span></li>
                    <li><span class="bold">⑤：</span><span class="lighter">
                    模式五：当测量值在[0, +∞]，测量值越趋近于0度量结果越好，对测量值进行加取倒处理；
                </span><span class="bolder">评估值 = 1 / ( 1 + 测量值 )</span></li>
                    <li><span class="bold">⑥：</span><span class="lighter">
                    模式六：当测量值在[0, +∞]，测量值越趋近于+∞度量结果越好，对测量值进行加取倒取反数加一处理；
                </span><span class="bolder">评估值=1 - 1 / ( 1 + 测量值 )</span></li>
                    <li><span class="bold">⑦：测量值 = 三级指标分子 / 三级指标分母； 得分区间为 [0, 100]，得分 = 评估值 × 100</span></li>
                    <!--                    <li><span class="bold">⑧：</span></li>-->
                    <!--                    <li><span class="bold">⑨：没有分母选项时，分母默认值为100</span></li>-->
                </ul>
            </section>
        </div>
        <br>

        <div style="float: right; border: solid 1px gray; padding: 10px; background-color: whitesmoke; ">
            <tr class="table-responsive" th:each="level1,stat1:${QualityModel.getFirstIndicator()}">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th class="col-sm-1">
                            <label th:text="${level1.getIndicatorName()} + 二级指标"></label>
                        </th>
                        <th class="col-sm-1">
                            <label th:text="${level1.getIndicatorName()} + 三级指标"></label>
                        </th>
                        <th class="col-sm-2">
                            <label th:text="三级指标分子"></label>
                        </th>
                        <th class="col-sm-1">
                            <label th:text="指标分子数值"></label>
                        </th>
                        <th class="col-sm-2">
                            <label th:text="三级指标分母"></label>
                        </th>
                        <th class="col-sm-1">
                            <label th:text="指标分母数值"></label>
                        </th>
                        <th class="col-sm-1">
                            <label th:text="指标计算方式"></label>
                        </th>
                        <th class="col-sm-2">
                            <label th:text="${level1.getIndicatorName()} + 三级指标得分"></label>
                        </th>
                    </tr>
                    </thead>
                    <div th:each="level2,stat2:${level1.getSubIndicator()}">
                        <tbody>
                        <tr>
                            <td th:rowspan="${#lists.size(level2.getSubIndicator()) + 1}">
                                <label class="bolder" th:text="${level2.getIndicatorName()}"></label>
                            </td>
                        </tr>
                        <tr th:each="level3,stat3:${level2.getSubIndicator()}">
                            <!--                        <form id="level3Index" class="form-horizontal" action="/qualityIndex/calculateIndex" method="post">-->
                            <form th:id="'form' + ${stat1.count}+ '' +${stat2.count}+ '' +${stat3.count}"
                                  onsubmit="return false" action="" method="post">
                                <td>
                                    <label class="bold" th:text="${level3.getIndicatorName()}"></label>
                                    <input type="hidden" name="indicatorId" th:value="${uid}">
                                    <input type="hidden" name="superIndicatorName"
                                           th:value="${level2.getIndicatorName()}">
                                    <input type="hidden" name="indicatorName" th:value="${level3.getIndicatorName()}">
                                </td>
                                <td>
                                    <label th:text="${level3.getMolecular()}"></label>
                                    <input type="hidden" name="molecular" th:value="${level3.getMolecular()}">
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input name="molecularResult" class="form-control" type="text"
                                                   th:value="${level3.getMolecularResult()}">
                                        </div>
                                        <!--<div class="columns" align="right">
                                            <button type="button" class="tabe_btn">评价</button>
                                        </div>-->
                                    </div>
                                </td>
                                <td>
                                    <label th:name="denominator" th:text="${level3.getDenominator()}"></label>
                                    <input type="hidden" name="denominator" th:value="${level3.getDenominator()}">
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input name="denominatorResult" class="form-control" type="text"
                                                   th:value="${level3.getDenominatorResult()}">
                                        </div>
                                        <!--<div class="columns" align="right">
                                            <button type="button" class="tabe_btn">评价</button>
                                        </div>-->
                                    </div>
                                </td>
                                <td>
                                    <select name="calMode" class="form-control" type="text">
                                        <option value="模式一">模式一</option>
                                        <option value="模式二">模式二</option>
                                        <option value="模式三">模式三</option>
                                        <option value="模式四">模式四</option>
                                        <option value="模式五">模式五</option>
                                        <option value="模式六">模式六</option>
                                        <div th:if="${level3.getCalMode()} != null">
                                            <option th:value="${level3.getCalMode()}" th:text="${level3.getCalMode()}"
                                                    selected
                                                    hidden></option>
                                        </div>
                                    </select>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <input th:id="'result' + ${stat1.count}+ '' +${stat2.count}+ '' +${stat3.count}"
                                                   class="form-control" type="text"
                                                   th:value="${level3.getIndicatorResult()}">
                                        </div>
                                        <div class="columns" align="right">
                                            <!--                                        <label th:text="'submit' + ${stat1.count}+ '' +${stat2.count}+ '' +${stat3.count}"></label>-->
                                            <input th:id="'submit' + ${stat1.count}+ '' +${stat2.count}+ '' +${stat3.count}"
                                                   class="tabe_btn" type="submit" value="评价"/>
                                        </div>
                                    </div>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </div>
                </table>
            </tr>


            <form th:id="finish-set" class="form-horizontal" action="/qualityIndex/finishCalIndex" method="post">
                <div align="center">
                    <input class="table_btn" type="submit" value="完成计算，确定提交"/>
                </div>
            </form>
        </div>

        <script type="text/javascript">
            function htmlScroll() {
                let top = document.body.scrollTop || document.documentElement.scrollTop;
                if (elFix.data_top < top) {
                    elFix.style.position = 'fixed';
                    // elFix.style.top = 0;
                    elFix.style.left = elFix.data_left;
                } else {
                    elFix.style.position = 'static';
                }
            }

            function htmlPosition(obj) {
                let o = obj;
                let t = o.offsetTop;
                let l = o.offsetLeft;
                while (o = o.offsetParent) {
                    t += o.offsetTop;
                    l += o.offsetLeft;
                }
                obj.data_top = t;
                obj.data_left = l;
            }

            let oldHtmlWidth = document.documentElement.offsetWidth;
            window.onresize = function () {
                const newHtmlWidth = document.documentElement.offsetWidth;
                if (oldHtmlWidth == newHtmlWidth) {
                    return;
                }
                oldHtmlWidth = newHtmlWidth;
                elFix.style.position = 'static';
                htmlPosition(elFix);
                htmlScroll();
            }
            window.onscroll = htmlScroll;

            let elFix = document.getElementById('div1');
            htmlPosition(elFix);
        </script>

        <script type="text/javascript">

            const maxL1 = document.getElementById('maxL1').value;
            const maxL2 = document.getElementById('maxL2').value;
            const maxL3 = document.getElementById('maxL3').value;

            for (let i = 1; i <= maxL1; i++) {
                for (let j = 1; j <= maxL2; j++) {
                    const id = '#submit' + i + j + 1;
                    const submit = document.querySelector(id);
                    if (!submit) {
                        break;
                    }
                    for (let k = 1; k <= maxL3; k++) {
                        const id = '#submit' + i + j + k;
                        const submit = document.querySelector(id);
                        if (submit) {
                            submit.onclick = () => {
                                // alert(id);
                                $.ajax({
                                    type: "POST",
                                    dataType: "json",
                                    url: "/qualityIndex/calculateIndex",
                                    data: $('#form' + i + j + k).serialize(),
                                    success: function (result) {
                                        console.log(result);//打印服务端返回的数据(调试用)
                                        alert("提交成功！指标得分：" + result.v);
                                        const res = '#result' + i + j + k;
                                        $(res).val(result.v);
                                    },
                                    error: function () {
                                        alert("提交异常！请重试！");
                                    }
                                });
                            }
                        } else {
                            break;
                        }
                    }
                }
            }
        </script>

    </body>

    <div th:replace="/qualityEvaluation/common-quality :: #commonScript"></div>

</html>
