<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('新增任务')" />
</head>
<body>
<div class="main-content">
    <form class="form-horizontal">
        <input type="hidden" id="uid" th:value="${task.getUid()}"/>
        <!-- platform-->
        <h4 class="form-header h4">外挂软件对接平台信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label ">对接平台名称:</label>
                    <div class="col-sm-8">
                        <input id="platform_name" placeholder="请输入对接平台名称" class="form-control"
                               type="text" maxlength="30" th:value="${task.getPlatform_name()}" disabled="disabled">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label " >对接平台类别:</label>
                    <div class="col-sm-8">
                        <input id="network"  type="text" placeholder="请输入平台类别" class="form-control" maxlength="30"
                        th:value="${task.getNetwork()}" disabled="disabled">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label ">状态：</label>
                    <div class="col-sm-8">
                        <input id="status"  type="text" class="form-control" placeholder="0正常，1停用，2未启用"
                               maxlength="30" th:value="${task.getStatus()}" disabled="disabled">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label ">接口敏感程度：</label>
                    <div class="col-sm-8">
                        <input id="interface_sensitive"  type="text" class="form-control"
                               maxlength="30" th:value="${task.getInterface_sensitive()}" disabled="disabled">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label">接口详细信息：</label>
                    <div class="col-xs-10">
                        <textarea id="info" maxlength="500" class="form-control" rows="6"
                                  th:text="${task.getInfo()}" disabled="disabled"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label ">备注：</label>
                    <div class="col-xs-10">
                        <textarea id="platform_comment" maxlength="500" class="form-control" rows="6"
                                  th:text="${task.getPlatform_comment()}" disabled="disabled"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!--product-->
        <h4 class="form-header h4">对接软件产品信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label ">产品名称：</label>
                    <div class="col-sm-8">
                        <input id="product_name"  placeholder="请输入产品名称" class="form-control" type="text"
                               maxlength="30" th:value="${task.getProduct_name()}" disabled="disabled">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label ">版本号：</label>
                    <div class="col-sm-8">
                        <input id="version"  class="form-control " type="text" maxlength="30" placeholder="请输入版本号"
                                    th:value="${task.getVersion()}" disabled="disabled">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label ">备注：</label>
                    <div class="col-xs-10">
                        <textarea id="product_comment" maxlength="500" class="form-control" rows="6" disabled="disabled" th:text="${task.getProduct_comment()}"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <!-- contact-->
        <h4 class="form-header h4">对接软件生产厂商信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">联系人姓名:</label>
                    <div class="col-sm-8">
                        <input id="contact_name" placeholder="请输入联系人姓名" class="form-control" type="text"
                               maxlength="30" th:value="${task.getContact_name()}" disabled="disabled" >
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label ">身份证号:</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input id="pid" placeholder="请输入身份证号" class="form-control" type="text"
                                   maxlength="30" th:value="${task.getPid()}" disabled="disabled" >
                            <span class="input-group-addon"><i class="fa fa-address-card"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label ">负责人姓名:</label>
                    <div class="col-sm-8">
                        <input id="boss_name" placeholder="请输入负责人姓名" class="form-control" type="text"
                               maxlength="30" th:value="${task.getBoss_name()}" disabled="disabled" >
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label ">负责人联系方式:</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input id="boss_contact" placeholder="请输入负责人联系方式" class="form-control" type="text"
                                   maxlength="30" th:value="${task.getBoss_contact()}" disabled="disabled" >
                            <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">电话:</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input id="telephone" placeholder="请输入电话" class="form-control" type="text"
                                   maxlength="30" th:value="${task.getTelephone()}" disabled="disabled" >
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label ">传真:</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input id="fax" placeholder="请输入传真" class="form-control" type="text"
                                   maxlength="30" th:value="${task.getFax()}" disabled="disabled" >
                            <span class="input-group-addon"><i class="fa fa-fax"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">邮编:</label>
                    <div class="col-sm-8">
                        <input id="post_code" placeholder="请输入邮编" class="form-control" type="text"
                               maxlength="30" th:value="${task.getPost_code()}" disabled="disabled" >
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">网址:</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input id="website" placeholder="请输入网址" class="form-control" type="text"
                                   maxlength="30" th:value="${task.getWebsite()}" disabled="disabled" >
                            <span class="input-group-addon"><i class="fa fa-internet-explorer"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label ">电子邮件:</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input id="email" placeholder="请输入电子邮件" class="form-control" type="text"
                                   maxlength="30" th:value="${task.getEmail()}" disabled="disabled" >
                            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">地址:</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input id="address" placeholder="请输入地址" class="form-control" type="text"
                                   maxlength="30" th:value="${task.getAddress()}" disabled="disabled" >
                            <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">联系人类型：</label>
                    <div class="col-sm-8">
                        <input id="type"  type="text" class="form-control" maxlength="30" th:value="${task.getType()}" disabled="disabled" >
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label ">备注：</label>
                    <div class="col-xs-10">
                        <textarea id="contact_comment" maxlength="500" class="form-control" rows="6" th:text="${task.getContact_comment()}" disabled="disabled" ></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!--   enterprise-->
        <h4 class="form-header h4">企业信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">企业id:</label>
                    <div class="col-sm-8">
                        <input id="enterprise_uid" placeholder="请输入企业id" class="form-control" type="text"
                               maxlength="30" th:value="${task.getEnterprise_uid()}" disabled="disabled" >
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">企业名:</label>
                    <div class="col-sm-8">
                        <input id="name" placeholder="请输入企业名" class="form-control" type="text"
                               maxlength="30" th:value="${task.getName()}" disabled="disabled" >
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">注销⽇期:</label>
                    <div class="col-sm-8">
                        <input id="cancel_date" placeholder="请输入注销⽇期" class="form-control" type="datetime-local"
                               maxlength="30" th:value="${task.getCancel_date()}" disabled="disabled" >
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">企业状态:</label>
                    <div class="col-sm-8">
                        <input id="reg_status" placeholder="请输入企业状态" class="form-control" type="text"
                               maxlength="30" th:value="${task.getReg_status()}" disabled="disabled" >
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">注册资本:</label>
                    <div class="col-sm-8">
                        <input id="reg_capital" placeholder="请输入注册资本" class="form-control" type="text"
                               maxlength="30" th:value="${task.getReg_capital()}" disabled="disabled" >
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">城市:</label>
                    <div class="col-sm-8">
                        <input id="city" placeholder="请输入城市" class="form-control" type="text"
                               maxlength="30" th:value="${task.getCity()}" disabled="disabled">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">⼈员规模:</label>
                    <div class="col-sm-8">
                        <input id="staff_num_range" placeholder="请输入⼈员规模" class="form-control" type="text"
                               maxlength="30" th:value="${task.getStaff_num_range()}" disabled="disabled" >
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label is-required">⾏业:</label>
                    <div class="col-sm-8">
                        <input id="industry" placeholder="请输入⾏业" class="form-control" type="text"
                               maxlength="30" th:value="${task.getIndustry()}" disabled="disabled" >
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">股票号:</label>
                    <div class="col-sm-8">
                        <input id="bond_num" placeholder="请输入股票号" class="form-control" type="text"
                               maxlength="30" th:value="${task.getBond_num()}" disabled="disabled" >
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label ">股票名:</label>
                    <div class="col-sm-8">
                        <input id="bond_name" placeholder="请输入股票名" class="form-control" type="text"
                               maxlength="30" th:value="${task.getBond_name()}" disabled="disabled" >
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">股票类型:</label>
                    <div class="col-sm-8">
                        <input id="bondType" placeholder="请输入股票类型" class="form-control" type="text"
                               maxlength="30" th:value="${task.getBondType()}" disabled="disabled" >
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">法人类型:</label>
                    <div class="col-sm-8">
                        <input id="legal_type" placeholder="请输入法人类型" class="form-control" type="text"
                               maxlength="30" th:value="${task.getLegal_type()}" disabled="disabled" >
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">法人姓名:</label>
                    <div class="col-sm-8">
                        <input id="legal_person_name" placeholder="请输入法人姓名" class="form-control" type="text"
                               maxlength="30" th:value="${task.getLegal_person_name()}" disabled="disabled" >
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">更新时间:</label>
                    <div class="col-sm-8">
                        <input id="update_times" placeholder="请输入更新时间" class="form-control" type="datetime-local"
                               maxlength="30" th:value="${task.getUpdate_times()}" disabled="disabled" >
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">吊销⽇期:</label>
                    <div class="col-sm-8">
                        <input id="revoke_date" placeholder="请输入吊销⽇期" class="form-control" type="datetime-local"
                               maxlength="30" th:value="${task.getRevoke_date()}" disabled="disabled" >
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">信用代码:</label>
                    <div class="col-sm-8">
                        <input id="creditCode" placeholder="请输入信用代码" class="form-control" type="text"
                               maxlength="30" th:value="${task.getCreditCode()}" disabled="disabled" >
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label ">备注：</label>
                    <div class="col-xs-10">
                        <textarea id="comment" maxlength="500" class="form-control" rows="6" th:text="${task.getComment()}" disabled="disabled" ></textarea>
                    </div>
                </div>
            </div>
        </div>

        <h4 class="form-header h4">审核信息</h4>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">审核人:</label>
                    <div class="col-sm-8">
                        <input id="auditor" placeholder="请输入审核人" class="form-control" type="text"
                               maxlength="30">
                    </div>
                </div>
            </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">审核结果:</label>
                        <div class="col-sm-8">
                            <select name="result" class="select form-control"  id="result">
                                <option value="">请选择</option>
                                <option value="0">通过</option>
                                <option value="1">不通过</option>
                                <option value="2">其他（在审核意见中说明）</option>
                            </select>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">开始时间:</label>
                    <div class="col-sm-8">
                        <input id="start_date" placeholder="请输入开始时间" class="form-control" type="datetime-local"
                               maxlength="30">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-4 control-label">提交时间:</label>
                    <div class="col-sm-8">
                        <input id="finish_date" placeholder="请输入提交时间" class="form-control" type="datetime-local"
                               maxlength="30">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label ">审核意见：</label>
                    <div class="col-xs-10">
                        <textarea id="audit_info" maxlength="500" class="form-control" rows="6"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="save()"><i class="fa fa-check"></i>提交</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="window.location.href='/material_audit.html'"><i class="fa fa-reply-all"></i>关 闭 </button>
    </div>
</div>
<th:block th:include="include :: bootstrap-file-upload-js" />
</body>
<script>
    function save() {
        var task_uid = $("#uid").val();
        var auditor = $("#auditor").val();
        var result = $("#result").val();
        var start_date = $("#start_date").val();
        var finish_date = $("#finish_date").val();
        var audit_info = $("#audit_info").val();

        $.ajax({
            url: "/submit",
            type: "post",
            dataType: "json",
            data: {
                "task_uid":task_uid,
                "auditor":auditor,
                "result":result,
                "start_date":start_date,
                "finish_date":finish_date,
                "audit_info":audit_info,
            },
            success:function (res){
                if(res.code == 1){
                    //清空文本框
                    $("#auditor").val("");
                    $("#result").val("");
                    $("#start_date").val("");
                    $("#finish_date").val("");
                    //刷新页面
                    window.location.href = "/material_audit.html";
                }
            }
        })
    }
</script>
</html>