<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加知识库</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/info-mgt.css"/>
    <link rel="stylesheet" href="css/base.css"/>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-table.js"></script>
    <script src="/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="/js/index.js"></script>

    <style>
        .div-center{
            position: absolute/fixed;
            left:0;
            top:10;
            right: 0;
            bottom: 10;
            margin:auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>添加知识库</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 div-center">
                <label for="baseClass_name">知识库名称</label>
                <input type="text" id="baseClass_name" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 div-center">
                <button type="button" class="btn btn-secondary" onclick="window.close()">关闭</button>
                <button type="button" class="btn btn-primary" onclick="addBaseClass()">保存</button>
            </div>
        </div>
    </div>
</body>
</html>