<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>修改密码</title>
  <th:block th:include="include :: header('新增任务')" />
<body>
<div class="layui-fluid">
  <div class="layui-row">
    <form class="layui-form">
      <div class="layui-form-item">
        <label for="L_username" class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
          <input type="text" id="L_username" name="userName" disabled="" th:value="${session.user.userName}" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
          <span class="x-red">*</span>将会成为您唯一的登入名
        </div>
      </div>
      <div class="layui-form-item">
        <label for="L_pass" class="layui-form-label">
          <span class="x-red">*</span>旧密码</label>
        <div class="layui-input-inline">
          <input type="password" id="O_pass" name="oldPassword" lay-verify="oldPassword" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">6到16个字符</div>
      </div>
      <div class="layui-form-item">
        <label for="L_pass" class="layui-form-label">
          <span class="x-red">*</span>新密码</label>
        <div class="layui-input-inline">
          <input type="password" id="L_pass" name="newPassword" lay-verify="newPassword" autocomplete="off" class="layui-input"></div>
        <div class="layui-form-mid layui-word-aux">6到16个字符</div>
      </div>
      <div class="layui-form-item">
        <label for="L_repass" class="layui-form-label">
          <span class="x-red">*</span>确认密码</label>
        <div class="layui-input-inline">
          <input type="password" id="L_repass" name="newPassword2" required="" lay-verify="newPassword2" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">6到16个字符</div>
      </div>
      <div class="layui-form-item">
        <label for="L_repass" class="layui-form-label"></label>
        <button class="layui-btn" lay-filter="save" lay-submit="">修改</button></div>
    </form>
  </div>
</div>
<script>
  layui.use(['form', 'layer'],
          function() {
            $ = layui.jquery;
            var form = layui.form,
                    layer = layui.layer;

            //自定义验证规则
            form.verify({
              oldPassword: [/(.+){5,12}$/, '请输入旧密码！'],
              newPassword: [/(.+){5,12}$/, '请输入新密码！'],
              pass: [/(.+){5,12}$/, '密码必须6到12位']
              ,newPassword2: function(value){
                if($('#L_pass').val()!=$('#L_repass').val()){
                  return '两次密码不一致';
                }
              }
            });

            //监听提交
            form.on('submit(save)',function(data) {
              $.ajax({
                url:"/user/changePassword",
                type:"POST",
                data:data.field,
                dataType:"json",
                success:function (result) {
                  var msg="修改密码成功!";
                  if (result.code !=200){
                    layer.alert(result.msg);
                  }else {
                    layer.alert(msg,{icon:6},function () {
                      // 获得frame索引
                      var index = parent.layer.getFrameIndex(window.name);
                      //关闭当前frame
                      parent.layer.close(index);
                    });

                  }
                }
              });
              return false;
            });
          });
</script>
<th:block th:include="include :: bootstrap-file-upload-js" />
</body>
</html>