<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="include :: header('新增任务')" />
    <!-- Custom styles for this template -->
<!--    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">-->
<!--    <script type="text/javascript" th:src="@{/js/jqueryNew.js}"></script>-->
    <style>
        .container{max-width:560px;}
    </style>
    <script  th:src="@{/js/jqueryNew.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-table.js}"></script>
    <script th:src="@{/js/bootstrap-table-zh-CN.min.js}"></script>
    <script th:src="@{/js/fileinput.js}" ></script>
    <script th:src="@{/js/zh.js}" ></script>
    <script th:src="@{/js/layui.js}" charset="utf-8"></script>
</head>
<body>
<div class="main-content">
    <form id="form-save-edit" class="form-horizontal">
        <input type="hidden" id="project_id" th:value="${project.getProject_id()}"/>
        <input type="hidden" id="uris" value=""/>
        <input type="hidden" id="res" value=""/>
    </form>
</div>
<div class="row">
    <div class="col-sm-offset-5 col-sm-10">
        <button type="button" class="btn btn-sm btn-primary" onclick="save()"><i class="fa fa-check"></i>保 存</button>&nbsp;
        <button type="button" class="btn btn-sm btn-danger" onclick="window.location.href='/test_records'"><i class="fa fa-reply-all"></i>关 闭 </button>
    </div>
</div>
<script>
    window.onload = function (){
        var project_id=$('#project_id').val();
        $.ajax({
            url: "/getAllRecords",
            type: "post",
            data: {
                project_id: project_id
            },
            success:function (test_records){
                var i;
                $("#res").val(test_records.length);
                for(i=0;i<test_records.length;i++){
                    $('#form-save-edit').append(' <input type="hidden" id="record_id'+i+'" />');
                    $(eval("record_id"+i)).val(test_records[i].record_id);
                    $('#form-save-edit').append('<h4 class="form-header h4" id="header'+i+'">'
                    +test_records[i].point_name+
                    '</h4>\n');
                    var div=$(' <div class="container"> </div>');
                    var input=$('<input type="file" class="file" multiple="multiple" name="file" id="uploadfile"/>\n')
                    div.append(input);
                    $("#form-save-edit").append(div);
                    $('#form-save-edit').append('    <div class="row">\n' +
                    '            <div class="col-sm-12">\n' +
                    '                <div class="form-group">\n' +
                    '                    <label class="col-xs-2 control-label ">添加备注信息：</label>\n' +
                    '                    <div class="col-xs-10">\n' +
                    '                        <textarea id="comment'+i+'"\n'+
                    'maxlength="500" class="form-control" rows="6"></textarea>\n' +
                    '                    </div>\n' +
                    '                </div>\n' +
                    '            </div>\n' +
                    '        </div>');
                    $(eval("comment"+i)).val(test_records[i].comment);
                    $('#form-save-edit').append('   <div class="row">\n' +
                    '        <div class="col-sm-6">\n' +
                    '            <div class="form-group">\n' +
                    '                <label class="col-sm-4 control-label">测试是否通过：</label>\n' +
                    '                <div class="col-sm-8">\n' +
                    '                    <select name="result" class="select form-control"  id="result'+i+'">\n'+
                    '                        <option value="">测试结果：0通过，1不通过</option>\n' +
                    '                        <option value="0">0</option>\n' +
                    '                        <option value="1">1</option>\n' +
                    '                    </select>\n' +
                    '                </div>\n' +
                    '            </div>\n' +
                    '        </div>\n' +
                    '        </div>')
                     $(eval("result"+i)).val(test_records[i].result);

                };

                var $input = $('input.file[type=file]');
                $input.fileinput({
                    language: 'zh', //设置语言
                    //uploadUrl: "http://127.0.0.1/testDemo/fileupload/upload.do", //上传的地址
                    uploadUrl: "/UpLoad", //上传的地址
                    allowedFileExtensions: ['jpg', 'gif', 'png', 'docx', 'zip', 'txt','doc'], //接收的文件后缀
                    //uploadExtraData:{"id": 1, "fileName":'123.mp3'},
                    showClose: false,//是否显示关闭按钮
                    uploadAsync: true, //默认异步上传
                    showUpload: true, //是否显示上传按钮
                    //showBrowse: true, //是否显示浏览按钮
                    showRemove: true, //显示移除按钮
                    showPreview: true, //是否显示预览
                    showCaption: false, //是否显示标题
                    browseClass: "btn btn-primary", //按钮样式
                    dropZoneEnabled: true, //是否显示拖拽区域
                    maxFileSize:0,//单位为kb，如果为0表示不限制文件大小
                    //minFileCount: 0,
                    maxFileCount: 10, //表示允许同时上传的最大文件个数
                    enctype: 'multipart/form-data',
                    validateInitialCount: true,
                    previewFileIcon: "<iclass='glyphicon glyphicon-king'></i>",
                    msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                }).on('filepreupload', function(event, data, previewId, index) {     //上传中
                    console.log('文件正在上传');
                }).on("fileuploaded", function (event, data, previewId, index) {    //一个文件上传成功
                    var form = data.form, files = data.files, extra = data.extra,
                        response = data.response, reader = data.reader;
                    console.log(response);//打印出返回的json
                    console.log(response.status);//打印出路径
                    console.log(response.attachmentIds);//打印出路径
                }).on('fileerror', function(event, data, msg) {  //一个文件上传失败
                    console.log('文件上传失败！'+data.status);
                });

        }
        });
    }

</script>
<script>
    function save(){
        var size= $("#res").val();
        var project_id = $("#project_id").val();
        for(var i=0;i<size;i++){
            var comment = $(eval("comment"+i)).val();
            var result = $(eval("result"+i)).val();
            var point_name = $(eval("header"+i)).text();
            var record_id = $(eval("record_id"+i)).val();
            console.log(record_id);
            $.ajax({
                url: "/EditRecord",
                type: "post",
                data: {
                    record_id:record_id,
                    comment:comment,
                    result:result,
                    project_id:project_id,
                    point_name:point_name
                },
                success:function (res){
                    if(res.code=1){
                        window.location.href = "/test_records";
                    }
                }
            })
        }
    }
</script>
</body>
</html>