<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/css/base.css}" />
<link rel="stylesheet" th:href="@{/css/home.css}" />
    <!--<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">-->
    <link th:href="@{/css/bootstrap-table.css}" rel="stylesheet" type="text/css">
<title>首页</title>
</head>

<body>
<div class="article toolbar">
	<div class="title ue-clear">
    	<h2>常用功能</h2>
        <!--<a href="javascript:;" class="more">更多</a>-->
    </div>
    <div class="content">
    	<ul class="toollist ue-clear">
    		<li>
            	<a th:href="@{/templates/Points.html}" class="img" target="right"><img src="images/icon01.png" /></a>
                <p><a th:href="@{/templates/Points.html}" target="right">日志查询</a></p>
            </li>
           
            <li>
            	<a href="dossier_aq.html" class="img" target="right"><img src="images/icon02.png" /></a>
                <p><a href="dossier_aq.html" target="right">知识库</a></p>
            </li>
            
            <li>
            	<a href="leave.html" class="img"><img src="images/leave01.png" /></a>
                <p><a href="leave.html">新建任务</a></p>
            </li>
           
        
            <li>
                <a href="recode.html" class="img" target="right"><img src="images/icon07.png" /></a>
                <p><a href="recode.html" target="right">模型配置</a></p>
            </li>
            <li>
                <a href="dossier_my.html" class="img" target="right"><img src="images/myFiles.png" /></a>
                <p><a href="dossier_my.html" target="right">xxx</a></p>
            </li>
			 <li>
            	<a href="email.html" class="img" target="right"><img src="images/email03.png" /></a>
                <p><a href="email.html" target="right">XXX</a></p>
            </li>
			 <li>
            	<a href="file_sign.html" class="img" target="right"><img src="images/file02.png" /></a>
                <p><a href="file_sign.html" target="right">xxx</a></p>
            </li>
            <li>
            	<a href="document_wait.html" class="img" target="right"><img src="images/file03.png" /></a>
                <p><a href="document_wait.html" target="right">xxx</a></p>
            </li>
			 <li>
            	<a href="fcontract_sign.html" class="img" target="right"><img src="images/posintion01.png" /></a>
                <p><a href="fcontract_sign.html" target="right">xxx</a></p>
            </li>
			<li>
            	<a href="schedule.html" class="img" target="right"><img src="images/icon04.png" /></a>
                <p><a href="schedule.html" target="right">xxx</a></p>
            </li>
            <li>
            	<a href="javascript:;" class="img" target="right"><img src="images/datecion01.png"/></a>
                <p><a href="javascript:;" onClick="openlayer()">xxx</a></p>
            </li>
            <li class="add-btn">
            	<img src="images/add.png" />
            </li>
    	</ul>
        
    </div>
</div>
<div class="article half notice">
	<div class="wrap-l">
        <div class="title ue-clear">
           <h2>软件质量评价结果展示</h2>
            <a href="notice.html" class="more" target="right">更多</a>
        </div>
        <div class="content">
        	
        </div>
    </div>
</div>
<div class="article half matter">
	<div class="wrap-r">
        <div class="title ue-clear">
             <h2>软件安全检查结果展示</h2>
            <a href="document_wait.html" class="more" target="right">更多</a>
        </div>
        <div class="content">
        	
        </div>
    </div>
</div>
<div style="clear: both"></div>
<div class="article half duty">
	<div class="wrap-l">
        <div class="title ue-clear">
            <h2>我的任务</h2>
            <a href="myrecode.html" class="more" target="right">更多</a>
        </div>
        <div class="content">
            <table id="table" class="table_style"></table>
        </div>
    </div>
</div>
<div class="article half email">
	<div class="wrap-r">
        <div class="title ue-clear">
            <h2>数据统计</h2>
            <a href="email.html" class="more" target="right">更多</a>
        </div>
        <div class="content">
        	
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-table.js"></script>
<script src="js/bootstrap-table-zh-CN.min.js"></script>
<script>
    $(function () {
        $('#table').bootstrapTable({
            method: "get",
            striped: true,
            singleSelect: false,
            url: "json/person.json",
            dataType: "json",
            pagination: true, //分页
            pageSize: 10,
            pageNumber: 1,
            search: false, //显示搜索框
            contentType: "application/x-www-form-urlencoded",
            queryParams: null,
            columns: [
                {
                    title: "任务名称",
                    field: 'name',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: '完成日期',
                    field: 'sex',
                    align: 'center',
                    valign: 'middle'
                },
                {
                    title: '检测人员',
                    field: 'type',
                    align: 'center'
                },

                {
                    title: '备注',
                    field: 'class',
                    align: 'center'
                },
                {
                    title: '操作',
                    field: 'id',
                    align: 'center',
                    formatter: function (value, row) {
                        var e = '<a  href="#" onclick="openlayer(\'' + row.id + '\')">查看</a> ';
                        return e;
                    }
                }
            ]
        });
    })
</script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
<script type="text/javascript">
$(".title-list ul").on("click","li",function(){
	var aIndex = $(this).index();
	$(this).addClass("current").siblings().removeClass("current");
	$(".matter-content").removeClass("current").eq(aIndex).addClass("current");
});

$(".duty").find("tbody").find("tr:even").css("backgroundColor","#eff6fa");
</script>
<script th:src="@{/js/layer_v2.1/layer.js}"></script>
<script type="text/javascript">
    function openlayer(id){
        layer.open({
            type: 2,
            title: '万年历',
            shadeClose: true,
            shade: 0.5,
            skin: 'layui-layer-rim',
//            maxmin: true,
            closeBtn:2,
            area: ['80%', '75%'],
            shadeClose: true,
            closeBtn: 2,
            content: 'calendar.html'
            //iframe的url
        });
    }
</script>
</html>
