<!doctype html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <th:block th:include="include :: header('审核')" />
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/bootstrap-table.css}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" th:href="@{/css/base.css}" />
  <link rel="stylesheet" th:href="@{/css/info-mgt.css}" />
  <link rel="stylesheet" th:href="@{/css/layui.css}"  media="all">
  <link rel="stylesheet" th:href="@{/css/fileinput.css}">
<!--  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">-->
  <style>
    .layui-layer-title{background:url(images/righttitlebig.png) repeat-x;font-weight:bold;color:#46647e; border:1px solid #c1d3de;height: 33px;line-height: 33px;}
    .tabe_bot label{width: 70px;text-align: right;font-size: 14px;font-weight: 900;color: #46647e}
    .l_left{float: left}
    .tabe_bot input,.tabe_bot  select{width: 180px;height: 30px;border-radius: 6px;margin:0 20px 0 0;border: none;border: 1px #ccc solid;text-indent: 1em}
    .tabe_btn{width: 60px;height: 30px;background-color: #68b86c;border: none;border-radius: 6px;color: #fff}
  </style>
  <title>送检材料审核</title>
</head>

<body>
<div class="title"><h2>送检材料审核</h2></div>
<!--<form class="query">-->
<!--  <div class="tabe_bot">-->
<!--    <div class="l_left">-->
<!--      <label>材料编号：</label>-->
<!--      <input type="text" placeholder="请输入送检材料编号" name="task_id" id="task_id"></div>-->
<!--    <div class="l_left">-->
<!--      <label>产品名称：</label>-->
<!--      <input type="text" placeholder="请输入产品名称" name="product_name" id="product_name"></div>-->
<!--    <div class="l_left">-->
<!--      <label>负责人：</label>-->
<!--      <input type="text" placeholder="请输入负责人" name="contact_name" id="contact_name"></div>-->
<!--    <button class="tabe_btn" id="query">查询</button>-->
<!--   </div>-->
<!--</form>-->
<div class="table-operate ue-clear">
  <a class="add" th:href="@{/add}">添加</a>
</div>

  <tr class="table-responsive">
  <table class="table table-striped table-sm" id="display_materials">
  </table>
</tr>
<!--<div class="table-box">-->
<!--  <table id="table" class="table_style"></table>-->
<!--</div>-->
<div class="pagination ue-clear"></div>
</body>
<script type="text/javascript" th:src="@{/js/jqueryNew.js}"></script>

<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-table.js}"></script>
<script th:src="@{/js/bootstrap-table-zh-CN.min.js}"></script>
<script th:src="@{/js/layui.js}" charset="utf-8"></script>
<script th:src="@{/js/fileinput.js}" ></script>
<script th:src="@{/js/zh.js}" ></script>

<script type="text/javascript">
  $(document).ready(function () {
    $('#display_materials').bootstrapTable({
      url:'/taskList',
      method:'post',
      striped: false, //是否显示行间隔色
      dataType: "json",
      sidePagination: "client",
      // cache:false,
      pagination: true,//显示分页
      // search:true,
      pageNumber:1,
      pageSize: 10,
      searchAlign: 'left',
      uniqueId: "uid",
      sortable: true,                     //是否启用排序
      pageList: [10, 25],
      queryParamsType: "",
      // queryParams: function (params) {
      //   return {
      //     offset: 3,                     //从第几个开始索引  因为数据库索引从0开始
      //     limit: 10,                 // 当前页索引
      //     pageSize: 10,
      //     order:"asc",
      //     task_id: $('#task_id').val(),                  // 任务号
      //     product_name: $('#product_name').val(),                     // 产品名称
      //     contact_name: $('#contact_name').val(),                     // 负责人名
      //   };
      // },
      hideLoading:true,
      contentType : "application/x-www-form-urlencoded; charset=UTF-8",
      columns: [
              {
        field: 'task_id',
        title: '送检材料编号'
      },
        {
        field: 'network',
        title: '机构系统类别'
      }, {
        field: 'product_name',
        title: '产品名称'
      }, {
        field: 'version',
        title: '版本号'
      }, {
        field: 'contact_name',
        title: '负责人'
      }, {
        field: 'creditCode',
        title: '信用代码'
      },{
        field: 'operate',
        title: '操作',
        align: 'center',
        valign: 'middle',
        width: 200,
        events:{
          'click #audit':function (e,value,row,index){
            audit(row.uid);
          },
          'click #downloadDoc': function (e, value, row, index) {
            downloadDoc(row.uid);
          },
          'click #remove': function (e, value, row, index) {
            remove(row.uid);
          },
          'click #Editaudit': function (e, value, row, index) {
            Editaudit(row.uid);
          },
        },
        formatter: function (value,row,index){
          var uid=row.uid;
          var result = "";
          $.ajax({
            url:"/check_if_audit",
            type:"post",
            dataType:"json",
            async: false,
            data:{
              "uid":uid
            },
            success:function (res){
              console.log(res.code);
              //未被审核
              if(res.code == 0){
                result += ' <button id="audit" class="btn btn-warning" style="margin-left:5px;">审核</button>';
                //审核通过
              }else if(res.code == 1){
                result += ' <button id="downloadDoc" class="btn btn-info" style="margin-left:5px;">导出</button>';
              }else {
                //审核未通过
                result += ' <button id="Editaudit" class="btn btn-warning" style="margin-left:5px;">审核</button>';
                result += ' <button id="remove" class="btn btn-danger" style="margin-left:5px;">删除</button>';
              }
            }
          });
          return result;
        }
      }]
    })
    // 查询按钮
    $('#query').click(function () {
      $('#display_materials').bootstrapTable('refresh');
    });
  });


  function audit(uid){
    window.location.href = "/audit/"+uid;
  }

  function downloadDoc(uid){
    window.location.href = "/downloadDoc/"+uid;
  }

  function remove(uid){
    window.location.href = "/delTask/"+uid;
  }

  function Editaudit(uid){
    window.location.href = "/audit/"+uid;
  }
</script>
</html>
