<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tjm.mapper.LogMapper">

    <insert id="insertLog" parameterType="SysLog" >
            <selectKey keyProperty="log_id" resultType="int" order="BEFORE">
                select nvl(max("log_id"),0)+1 from "SysLog"
            </selectKey>
        insert into "SysLog"("log_id","username","class_name","method_name","args","creat_time","ip")
        values(#{log_id},#{username},#{class_name},#{method_name},#{args},#{creat_time},#{ip})
    </insert>

    <select id="queryLogList" resultType="SysLog">
        select * from "SysLog" Order by "log_id"
    </select>

    <select id="findByRequired" parameterType="SysLog" resultType="SysLog">
        select * from "SysLog" where 1=1
<!--        <if test="log_id != null and log_id !=''">-->
<!--            and "log_id"= #{log_id}-->
<!--        </if>-->
        <if test="username !=null and username !=''">
            and "username"= #{username}
        </if>
        <if test="method_name !=null and method_name !=''">
            and "method_name"= #{method_name}
        </if>
<!--        <if test="creat_time !=null and creat_time !=''">-->
<!--            and creat_time= #{creat_time}-->
<!--        </if>-->
    </select>


</mapper>