<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tjm.mapper.OperLogMapper">

    <insert id="insertOperLog" parameterType="OperationLog" >
        <selectKey keyProperty="oper_id" resultType="int" order="BEFORE">
            select nvl(max("oper_id"),0)+1 from "OperationLog"
        </selectKey>
        insert into "OperationLog"("oper_id","oper_modul","oper_type","oper_desc","username","oper_creat_time")
        values(#{oper_id},#{oper_modul},#{oper_type},#{oper_desc},#{username},#{oper_creat_time})
    </insert>

    <select id="queryLogList" resultType="OperationLog">
        select * from "OperationLog" Order by "oper_id"
    </select>

    <select id="findByRequired" parameterType="OperationLog" resultType="OperationLog">
        select * from "OperationLog" where 1=1
        <if test="username !=null and username !=''">
            and "username"= #{username}
        </if>
        <if test="oper_type !=null and oper_type !=''">
            and "oper_type"= #{oper_type}
        </if>
    </select>

</mapper>