<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tjm.mapper.RoleMapper">

    <resultMap type="Sys_Role" id="RoleResult">
        <id     property="role_id"     column="role_id"     />
        <result property="role_name"   column="role_name"   />
    </resultMap>


    <select id="queryRoleList" resultType="Sys_Role">
        select * from "Sys_Role" Order by "role_id"
    </select>

    <select id="queryRole_names" resultType="String">
        select DISTINCT "role_name" from "Sys_Role"
    </select>

    <insert id="addRole" parameterType="Sys_Role" >
        <selectKey keyProperty="role_id" resultType="int" order="BEFORE">
            select nvl(max("role_id"),0)+1 from "Sys_Role"
        </selectKey>
        insert into "Sys_Role"("role_id","role_name")
        values(#{role_id},#{role_name})
    </insert>

    <select id="findRoleByUsername" resultType="String" parameterType="String">
        select
               "RoleBean"."role"
        from
             "UserBean"
        RIGHT JOIN "UserRole" on "UserBean"."user_id"="UserRole"."user_id"
        LEFT JOIN "RoleBean" on "RoleBean"."role_id"="UserRole"."role_id"
        where "username"=#{username}
    </select>

    <select id="findRoleByUserId" parameterType="int" resultType="int">
        select "Sys_User_Role"."role_id"
        FROM "Sys_User","Sys_User_Role"
        WHERE "Sys_User"."user_id"=#{user_id} and
            "Sys_User"."user_id"="Sys_User_Role"."user_id"
    </select>

    <select id="findRole_name" parameterType="int" resultType="String">
        select "Sys_Role"."role_name"
        from "Sys_Role"
        WHERE "Sys_Role"."role_id"=#{role_id}
    </select>

    <select id="queryByRole_name" parameterType="String" resultType="int">
        select "Sys_Role"."role_id"
        from "Sys_Role"
        WHERE "Sys_Role"."role_name"=#{role_name}
    </select>

    <select id="findRole" parameterType="String" resultType="Sys_Role">
        select *
        from "Sys_Role"
        WHERE "Sys_Role"."role_name"=#{role_name}
    </select>

</mapper>